.customerItemContainer {
    max-width: 200px;
    list-style: none;
    text-align: center;
    border: 0.15rem solid seagreen;
    padding: 1rem;
    border-radius: 0.45rem;

}

.customerItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customerItemContainer img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid seagreen;

}
 