.customerItem {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
.customerItemContainer {
    background-color: dimgray;
    padding: 1rem;
    max-width: 300px;
    text-align: center; 
    border: 1px solid seagreen;
    border-radius: 0.5rem;
    margin: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.customerItemContainer img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid seagreen;
}

.customerItemContainer:hover {
    transform: translateY(-2px);
    background-color: lightslategray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.editLink {
  background-color: seagreen;
  color: whitesmoke;
  text-decoration: none;
  display: inline-block; 
  padding: 0.5rem 1rem; 
  border-radius: 8px; 
  text-align: center;  
  cursor: pointer; 
  transition: 0.3s ease; 
}
  

.editLink:hover {
    background-color: darkslategrey;
    color: lightgreen;
}
