.pageTitle {
    text-align: center;
    color: lightgreen;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 2rem;
}

.customersWrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

.createLinkContainer {
    margin: 1rem 0;
    text-align: center;
    padding: 1rem;
}

.createLink {
    background-color: seagreen;
    color: whitesmoke;
    text-decoration: none;
    display: inline-block; 
    padding: 0.5rem 1rem; 
    border-radius: 8px; 
    text-align: center;  
    cursor: pointer; 
    transition: 0.3s ease; 
}

.createLink:hover {
    background-color: darkslategrey;
    color: lightgreen;
}
