$primary-color: lightgreen;
$background-color: dimgray;
$text-color: #333;
$button-bg: darkslategrey;
$button-hover-bg: darkseagreen;

.locationItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;

    .locationItemContainer {
        text-align: center;
        background-color: $background-color;
        max-width: 400px;
        padding: 1rem;
        border-radius: 0.5rem;

        .locationImage {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        h2 {
            margin: 0 0 10px;
            font-size: 24px;
            color: $text-color;
        }

        p {
            margin: 0 0 15px;
            font-size: 16px;
            color: $primary-color;
        }

        .editLink {
            display: inline-block;
            padding: 8px 16px;
            background-color: $button-bg;
            color: $primary-color;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.2s ease;

            &:hover {
                background-color: $button-hover-bg;
                color: $text-color;
            }
        }
    }
}