.categoryItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;

}

.categoryItemContainer {
    text-align: center;
    background-color: dimgray;
    max-width: 400px;
    padding: 1rem;
    border-radius: 0.5rem;
}

.categoryImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

p {
    margin: 0 0 15px;
    font-size: 16px;
    color: lightgreen;
}

.editLink {
    display: inline-block;
    padding: 8px 16px;
    background-color: darkslategrey;
    color: lightgreen;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.editLink:hover {
    background-color: darkseagreen;
    color: #333;
}